
h2{
    text-align: center;
    font-family: italic;
}

ul {
    text-align:center;
    width:450px magin:0 auto

    margin-left:auto;
    margin-right:auto
}    
li{ 
    display:inline;padding:15px
    }
}
footer{                                                
    
    margin-bottom: 100px;

}

.one{
    background-color: red;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#title{
    background-color: yellow;
}